  <!-- =============Info section============== -->
  <section id="info" class="info py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-6 align-self-center mb-4 mb-md-0">
              <h3>What We Do.</h3>
              <p my-4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sed molestias cum har tatibus iusto impedit, fugiat doloribus laudantium rerum similique.</p>
              <a href="" class="btn btn-outline-primary">Learn More</a>
          </div>
          <div class="col-md-6">
              <img src="/assets/images/laptop.png" alt="laptop" class="img-fluid" title="laptop">
          </div>
      </div>
  </div>
  </section>

