
<!-- =====================Icons section=============== -->
<section id="icons" class="py-5 icons">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div class="card bg-primary mb-3 mb-md-4 text-center text-white">
                  <div class="card-body">
                      <i class="fa-solid fa-building"></i>
                  </div>
                  <h3 class="my-2">Lorem Ipsum</h3>
                  <p>
                      Lorem ipsum dolor sit amet sldfksdf ctetur adipisicing dolor sit amet elit. Possimus hic a mollihil, maxime pariatur culpa. Dolor!
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-success mb-3 mb-md-4 text-center text-white">
                  <div class="card-body">
                      <i class="fa-solid fa-bullhorn"></i>
                  </div>
                  <h3 class="my-2">Lorem Ipsum</h3>
                  <p>
                      Lorem ipsum dolor sit amet sldfksdf ctetur adipisicing dolor sit amet elit. Possimus hic a mollihil, maxime pariatur culpa. Dolor!
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-warning mb-3 mb-md-4 text-center text-white">
                  <div class="card-body">
                      <i class="fas fa-comments"></i>
                  </div>
                  <h3 class="my-2">Lorem Ipsum</h3>
                  <p>
                      Lorem ipsum dolor sit amet sldfksdf ctetur adipisicing dolor sit amet elit. Possimus hic a mollihil, maxime pariatur culpa. Dolor!
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-dark mb-3 mb-md-4 text-center text-white">
                  <div class="card-body">
                      <i class="fa-solid fa-clock"></i>
                  </div>
                  <h3 class="my-2">Lorem Ipsum</h3>
                  <p>
                      Lorem ipsum dolor sit amet sldfksdf ctetur adipisicing dolor sit amet elit. Possimus hic a mollihil, maxime pariatur culpa. Dolor!
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-danger mb-3 mb-md-4 text-center text-white">
                  <div class="card-body">
                      <i class="fa-regular fa-closed-captioning"></i>
                  </div>
                  <h3 class="my-2">Lorem Ipsum</h3>
                  <p>
                      Lorem ipsum dolor sit amet sldfksdf ctetur adipisicing dolor sit amet elit. Possimus hic a mollihil, maxime pariatur culpa. Dolor!
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card bg-info mb-3 mb-md-4 text-center text-white">
                  <div class="card-body">
                      <i class="fa-solid fa-mug-hot"></i>
                  </div>
                  <h3 class="my-2">Lorem Ipsum</h3>
                  <p>
                      Lorem ipsum dolor sit amet sldfksdf ctetur adipisicing dolor sit amet elit. Possimus hic a mollihil, maxime pariatur culpa. Dolor!
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

